<div class="webform-print-page-body">
  <div class="container">
    <p class="print-notification"><img class="print-notification--icon" alt="" aria-hidden="true" src="../../../../themes/custom/hdbt_subtheme/src/icons/hdbt/ui/info-circle.svg"> {{ 'This printout is only for previewing the application and cannot be used when applying for a grant'|t }}</p>
  </div>
{% for key,formpage in webform %}
  {% if formpage['#type'] == 'container' %}
    <div class="webform-print-page-wizard-page container">
      <h2>{{ formpage['#title'] }}</h2>
      {% if '#' not in key %}
        {% for elementKey,element in formpage %}
          {% set is_not_hidden = element['#type'] != 'hidden' %}
          {% if is_not_hidden %}
            {% if isArray(element) %}
              {{ element }}
{#              {{ breakpoint() }}#}
            {% endif %}
          {% endif %}
        {% endfor %}
      {% endif %}

    </div>
  {% endif %}
{% endfor %}
</div>
