// Font variables from HDS.
@import "~hds-design-tokens/lib/typography/all.scss";

blockquote {
  position: relative;
  padding-left: 1.5rem;
  margin: 0;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: var(--color-engel);
    border-radius: 2px;
  }
}
