.ui-widget-overlay {
  z-index: 99;
}
.ui-dialog {
  .ui-button:hover {
    border-width: 2px;
  }
  .hds-koros {
    position: absolute;
    top: -40px;
    left: 0;
    color: white;
    z-index: 1000;
  }
  &-titlebar {
    border: 0;
    background: transparent;
    &-close {
      background: none;
      border: none;
    }
    .ui-dialog-title {
      display: block;
      padding: var(--spacing-layout-2-xs);
      font-size: var(--fontsize-heading-s);
    }
  }
  &-title {
    .hel-icon {
      margin-right: var(--spacing-3-xs);
    }
  }
}
.ui-dialog div.ui-dialog-titlebar {
  padding: 0;
}
.ui-dialog .ui-dialog-titlebar-close {
  top: -40px;
  z-index: 1001;
}
.ui-widget-content {
  h3 {
    margin-top: 0;
  }
}

div.ui-widget.ui-widget-content {
  border-top: 60px solid var(--color-engel);
  padding-top: 0;
  min-width: 300px;
  max-width: 100vw;
}
.ui-dialog .ui-dialog-content {
  position: initial;
  padding: 0 1em 1em;
}
.ui-widget-content span.ui-icon {
  mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpolygon fill='currentColor' points='18 7.5 13.5 12 18 16.5 16.5 18 12 13.5 7.5 18 6 16.5 10.5 12 6 7.5 7.5 6 12 10.5 16.5 6'/%3E %3C/g%3E %3C/svg%3E");
  -webkit-mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E %3Cg fill='none' fill-rule='evenodd'%3E %3Crect width='24' height='24'/%3E %3Cpolygon fill='currentColor' points='18 7.5 13.5 12 18 16.5 16.5 18 12 13.5 7.5 18 6 16.5 10.5 12 6 7.5 7.5 6 12 10.5 16.5 6'/%3E %3C/g%3E %3C/svg%3E");
  transform: scale(1.5);
  margin-top: -12px;
  margin-left: -12px;
}
.submission-for-copying {
  margin-top: 1em;
  margin-bottom: 1em;
}
