<div class="application-timeout-message" role="alert">
  <section aria-label="Notification" class="hds-notification hds-notification--error">
    <div class="hds-notification__content">
      <button type="button" class="close-application-timeout-message hel-icon hel-icon--cross" aria-label="{{ 'Close'|t }}"></button>
      <div class="hds-notification__label" role="heading" aria-level="2">
        <span class="hel-icon hel-icon--alert-circle-fill" aria-hidden="true"></span>
        <span>{{ message_heading }}</span>
      </div>
      <div class="hds-notification__body">
        {{ message_body }}
      </div>
    </div>
  </section>
</div>
