<h3>{% include '@hdbt/misc/icon.twig' ignore missing with {icon: 'alert-circle'} %} {{ 'You are copying an application'|t }}</h3>
<div>{{ 'You can copy and use the contents of this application in the new application. The attached files of the original application are not copied.'|t }}</div>
{{ form }}
