<section aria-label="Notification" class="hds-notification hds-notification--{{ type }}">
  <div class="hds-notification__content">
    <div class="hds-notification__label" role="heading" aria-level="2">
      <span class="hel-icon hel-icon--alert-circle-fill" aria-hidden="true"></span>
      <span>{{ label }}</span>
    </div>
    <div class="hds-notification__body">
      {{ body|raw }}
    </div>
  </div>
</section>
