fieldset.grants-fieldset {
  .fieldset-wrapper {
    gap: 0 var(--spacing-layout-2-xs);
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    align-items: end;
  }
  &-short {
    max-width: var(--webform-element-width--input-large);
  }
}
fieldset.premises-composite--wrapper.fieldgroup,
fieldset.grants-budget-other-cost--wrapper.fieldgroup,
fieldset.grants-budget-other-income--wrapper.fieldgroup {
  border-width: 2px;
  padding: var(--spacing-s);
  margin-top: var(--spacing-layout-2-xs);
  span.visually-hidden {
    height: auto;
    width: auto;
    overflow: auto;
    clip: initial;
    clip-path: initial;
    left: var(--spacing-layout-2-xs);
    top: -12px;
    background: white;
    padding-right: var(--spacing-layout-2-xs);
  }
}

