fieldset.grants-fieldset {
  .fieldset-wrapper {
    gap: 0 var(--spacing-layout-2-xs);
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
    align-items: end;
    .form-item--error-message {
      grid-column: 1;
    }
  }
  &-short {
    max-width: var(--webform-element-width--input-large);
  }
}
fieldset.premises-composite--wrapper.fieldgroup,
.community_officials_wrapper fieldset.fieldgroup,
fieldset.grants-budget-other-cost--wrapper.fieldgroup,
fieldset.grants-budget-other-income--wrapper.fieldgroup {
  border-width: 2px;
  padding: var(--spacing-s);
  margin-top: var(--spacing-layout-2-xs);
  span.visually-hidden {
    height: auto;
    width: auto;
    clip: initial;
    clip-path: initial;
    left: var(--spacing-layout-2-xs);
    background: white;
    padding-right: var(--spacing-xl);
    display: block;
    position: relative !important;
  }
}

div.community_officials_wrapper {
  >label {
    display: none;
  }
}
