fieldset.grants-fieldset {
  .fieldset-wrapper {
    gap: 0 var(--spacing-layout-2-xs);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    .form-item--error-message {
      grid-column: 1;
    }
  }
  &-short {
    max-width: var(--webform-element-width--input-large);
  }
  &-medium {
    .fieldset-wrapper {
      justify-content: center;
    }
    max-width: var(--webform-element-width--fieldset);
  }
}
fieldset.premises-composite--wrapper.fieldgroup,
.community_officials_wrapper fieldset.fieldgroup,
fieldset.grants-budget-other-cost--wrapper.fieldgroup,
fieldset.grants-budget-other-income--wrapper.fieldgroup,
fieldset.place-of-operation-composite--wrapper.fieldgroup,
fieldset.rent-income-composite--wrapper.fieldgroup,
fieldset.club-section-composite--wrapper.fieldgroup,
.form-item-muu-liite fieldset.grants-attachments--wrapper.fieldgroup {
  border-width: 2px;
  padding: var(--spacing-m) var(--spacing-l);
  margin-top: var(--spacing-layout-2-xs);
  min-width: 400px;
  max-width: 100%;

  span.visually-hidden {
    height: auto;
    width: max-content;
    overflow: hidden;
    clip: initial;
    clip-path: initial;
    left: var(--spacing-layout-2-xs);
    top: -12px;
    background: white;
    padding-right: var(--spacing-xl);
  }
}

.form-item-muu-liite fieldset.grants-attachments--wrapper {
  margin-bottom: 0;
}

fieldset.webform-composite-hidden-title .fieldset-wrapper > .form-item:last-child {
  margin-bottom: var(--spacing-layout-xs);
}
