$breakpoint-xs: 320px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1248px;

.js-form-type-webform-table {
  table {
    width: 100%;
  }
  th {
    text-align: left;
  }
  td {
    vertical-align: middle;
    > div {
      margin-bottom: 0;
      height: auto;
      label {
        margin: -1px;
      }
    }

  }
  .hds-text-input label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.form-item {
  margin-bottom: var(--spacing-layout-xs);
  position: relative;

  input[type="date"],
  input[type="time"] {
    -webkit-appearance: none;
    background-color: var(--input-background-default);
    border: var(--border-width) solid var(--input-border-color-default);
    box-sizing: border-box;
    color: var(--input-color-default);
    font-size: 1.125em;
    height: var(--input-height);
    line-height: normal;
    padding: 0 var(--spacing-s);
    width: 100%;
    will-change: transform,box-shadow;
  }
}

.webform-section {
  padding-bottom: var(--spacing-layout-2-xs);
  table:first-of-type {
    margin-top: 0;
  }
}

.hds-text-input {
  max-width: fit-content;
  width: 100%;
}
.webform-section-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint($breakpoint-m) {
    grid-template-columns: 1fr 2fr;
    grid-row-gap: var(--spacing-xl);
  }

  > dt.webform-section-title {
    color: var(--hdbt-color-black);
    display: block;
    font-weight: 500;
    margin-bottom: var(--spacing-3-xs);
    width: 100%;
    hyphens: none;
    padding-right: var(--spacing-2-xl);;
    font-size: var(--fontsize-heading-s);
    flex-shrink: 0;
    margin-top: 0;
    line-height: 1;
  }

  .webform-section-wrapper {
    padding-left: var(--spacing-2-xl);
    margin-bottom: var(--spacing-layout-xs);

    @include breakpoint($breakpoint-m) {
      padding-left: 0;
      margin-bottom: 0;
    }
  }

}
.webform-section-wrapper > .description {
  margin-bottom: var(--spacing-layout-xs);
}
.webform-section-flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: left;
  @include breakpoint($breakpoint-m) {
    flex-flow: row nowrap;
  }
  .webform-element-help-container--title {
    position: relative;
  }
  > h2.webform-section-title, > h3.webform-section-title, > dt.webform-section-title {
    color: var(--hdbt-color-black);
    display: block;
    font-weight: 500;
    margin-bottom: var(--spacing-3-xs);
    width: 100%;
    hyphens: none;
    padding-right: var(--spacing-2-xl);;
    font-size: 24px;
    flex-shrink: 0;
    margin-top: 0;
    @include breakpoint($breakpoint-m) {
      width: 30%;
      max-width: 350px;
    }
  }

  > .webform-section-wrapper {
    font-size: var(--fontsize-body-m);
    width: 100%;
    padding-left: var(--spacing-2-xl);;
    p:first-child {
      margin-top: 0;
    }
  }
  .form-required::after {
    content: '*';
    display: inline;
  }
  legend, label {
    font-size: var(--fontsize-body-m);
    font-weight: bold;
    margin-bottom: var(--spacing-layout-2-xs);
    display: block;
    padding-right: var(--spacing-xl);
    max-width: fit-content;
    position: relative;
  }
  label.hds-radio-button__label {
    font-weight: normal;
  }
  .checkboxes--wrapper label {
    font-weight: normal;
  }

  .js-form-type-textarea .hds-text-input__input-wrapper {
    display: block;
  }

  .has-error,
  .grant-applications--select-wrapper:has(.has-error) {
    border-color: var(--color-error);
  }
}

form .hds-text-input__input-wrapper, .hds-text-input__input-wrapper  {
  input, textarea,  {
    &.webform--small {
      max-width: var(--webform-element-width--input-small);
      width: 100vw;
    }

    &.webform--medium {
      max-width: var(--webform-element-width--input-medium);
      width: 100vw;
    }

    &.webform--large {
      max-width: var(--webform-element-width--input-large);
      width: 100vw;
    }
  }
}
  .webform--small div.grant-applications--select-wrapper {
    max-width: var(--webform-element-width--input-small);
    width: 100%;
  }
  .webform--medium div.grant-applications--select-wrapper {
    max-width: var(--webform-element-width--input-medium);
    width: 100%;
  }
  .webform--large div.grant-applications--select-wrapper {
    max-width: var(--webform-element-width--input-medium);
    width: 100%;
  }
form .hds-checkbox {
  display:block;
  label.hds-checkbox__label::after {
    content: '';
  }
}

fieldset.webform-composite-hidden-title {
  margin-top: -1em;
  margin-bottom: var(--spacing-layout-xs);
}

.grants-profile-grants-profile {
  table {
    thead {
      th {
        h4 {
          margin: 0;
        }
      }
    }
  }
}

.hakemus-form-page {
  .main-content {
    margin-top: 0;
  }
}

.hakemus-form-errors {
  ul li {
    list-style-type: none;
  }
}

.form-item--error-message {
  color: var(--color-error);
  margin-top: var(--spacing-layout-2-xs);

  &::before {
    --icon-size: 1.5rem;

    @include pseudo-icon('alert-circle-fill');
    background-color: var(--color-error);
    content: '';
    display: inline-block;
  }
}
