$breakpoint-xs: 320px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1248px;

.js-form-type-webform-table {
  table {
    width: 100%;
  }
  th {
    text-align: left;
  }
  td {
    vertical-align: middle;
    > div {
      margin-bottom: 0;
      height: auto;
      label {
        margin: -1px;
      }
    }

  }
  .hds-text-input label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
}

.form-item {
  margin-bottom: var(--spacing-layout-xs);
  position: relative;
}

.webform-section {
  padding-bottom: var(--spacing-layout-2-xs);
  table:first-of-type {
    margin-top: 0;
  }
}

.hds-text-input {
  max-width: fit-content;
  width: 100%;
}
.webform-section-grid-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  @include breakpoint($breakpoint-m) {
    grid-template-columns: 1fr 2fr;
    grid-row-gap: var(--spacing-l);
  }

  > dt.webform-section-title {
    color: var(--hdbt-color-black);
    display: block;
    font-weight: 500;
    margin-bottom: var(--spacing-3-xs);
    width: 100%;
    hyphens: none;
    padding-right: var(--spacing-2-xl);;
    font-size: 24px;
    flex-shrink: 0;
    margin-top: 0;
  }

  dd {
    padding-left: var(--spacing-2-xl);
    margin-bottom: var(--spacing-layout-xs);

    @include breakpoint($breakpoint-m) {
      padding-left: 0;
      margin-bottom: 0;
    }
  }

}
.webform-section-flex-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: left;
  @include breakpoint($breakpoint-m) {
    flex-flow: row nowrap;
  }
  > h2.webform-section-title, > h3.webform-section-title, > dt.webform-section-title, {
    color: var(--hdbt-color-black);
    display: block;
    font-weight: 500;
    margin-bottom: var(--spacing-3-xs);
    width: 100%;
    hyphens: none;
    padding-right: var(--spacing-2-xl);;
    font-size: 24px;
    flex-shrink: 0;
    margin-top: 0;
    @include breakpoint($breakpoint-m) {
      width: 30%;
      max-width: 350px;
    }
  }

  > .webform-section-wrapper {
    font-size: var(--fontsize-body-m);
    width: 100%;
    padding-left: var(--spacing-2-xl);;
    p:first-child {
      margin-top: 0;
    }
  }
  .form-required::after {
    content: '*';
    display: inline;
  }
  legend, label {
    font-size: var(--fontsize-body-m);
    font-weight: bold;
    margin-bottom: var(--spacing-layout-2-xs);
    display: block;
    padding-right: var(--spacing-layout-s);
  }
  label.hds-radio-button__label {
    font-weight: normal;
  }
  .checkboxes--wrapper label {
    font-weight: normal;
  }

  .js-form-type-textarea .hds-text-input__input-wrapper {
    display: block;
  }
}

form .hds-text-input__input-wrapper, .hds-text-input__input-wrapper  {
  input, textarea,  {
    &.webform--small {
      max-width: 184px;
      width: 100%;
    }

    &.webform--medium {
      max-width: 322px;
      width: 100%;
    }

    &.webform--large {
      max-width: 591px;
      width: 100%;
    }
  }
}
  .webform--small div.grant-applications--select-wrapper {
    max-width: 184px;
    width: 100%;
  }
  .webform--medium div.grant-applications--select-wrapper {
    max-width: 322px;
    width: 100%;
  }
  .webform--large div.grant-applications--select-wrapper {
    max-width: 591px;
    width: 100%;
  }
form .hds-checkbox {
  display:block;
  label.hds-checkbox__label::after {
    content: '';
  }
}

fieldset.webform-composite-hidden-title {
  margin-top: -1em;
  margin-bottom: var(--spacing-layout-xs);
}

.grants-profile-grants-profile {
  table {
    thead {
      th {
        h4 {
          margin: 0;
        }
      }
    }
  }
}

.hakemus-form-page {
  .main-content {
    margin-top: 0;
  }
}
