.webform-preview {
  .accordion_header {
    font-size: 28px;
    font-weight: 300;
    @include breakpoint($breakpoint-m) {
      font-size: 36px;
      font-weight: 500;
    }
  }
  label {
    display: block;
    font-weight: bold;
  }
}
