.js-form-type-grants-webform-summation-field {
  max-width: 588px;
  text-align: right;
  .grants-webform-summation-field {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-m);
  }
}
