.js-form-type-grants-webform-summation-field {
  max-width: var(--webform-element-width--input-large);
  text-align: right;
  .grants-webform-summation-field {
    display: inline-block;
    padding: var(--spacing-xs) var(--spacing-m);
  }
}
