<span aria-hidden="true" class="hel-icon hel-icon--{{ icon}} hel-icon--size-m"></span>
<h2 class="hds-card__heading-m heading-m" role="heading" aria-level="2">{{ role }}</h2>
<div class="hds-card__text">
  {{ role_description }}
</div>
