{#
/**
 * @file
 * Theme override for an 'input' #type form element.
 *
 * Available variables:
 * - attributes: A list of HTML attributes for the input element.
 * - children: Optional additional rendered elements.
 *
 * @see template_preprocess_input()
 * @see claro_preprocess_input()
 */
#}
{% apply spaceless %}
  <div class="hds-text-input__input-wrapper">
    <input {{ attributes.setAttribute('type', 'text').setAttribute('title', 'This value should be a number'|t).setAttribute('pattern', '[0-9]+([\.,][0-9]+)?').setAttribute('inputmode', 'numeric').addClass('hds-text-input__input', 'webform--small') }} />
  </div>
  {{ children }}
{% endapply %}
