{% set name = companyName ? companyName : 'Private person'|t({}, {'context': 'Asiointirooli block'}) %}
{% set link = switchRole %}

<div class="asiointirooli-block">
  <div class="container">
    <span class="asiointirooli--rooli">{{ "Role"|t({}, {'context': 'Asiointirooli block'}) }}: {{ asiointiLink }}</span> {{ link }}
  </div>
</div>
