{% if roleType == 'private_person' %}
  {% set background_color = 'copper' %}
{% else %}
  {% set background_color = 'engel' %}
{% endif %}
{% set design_class = "hero--oma-asiointi" %}

{% set hero_classes = [
    'hero',
    design_class ? design_class,
    background_color ? 'hero--bg-color--' ~ background_color
] %}

<div{{ attributes.addClass(hero_classes) }}>
  {% embed "@hdbt/misc/container.twig" with {container_element: 'hero'} %}
    {% block container_content %}
      <div class="hero__text-content">
      {% if roleType == 'private_person' %}
        <span aria-hidden="true" class="hds-icon hds-icon--user hds-icon--size-l"></span>
      {% elseif roleType == 'unregistered_community' %}
        <span aria-hidden="true" class="hds-icon hds-icon--group hds-icon--size-l"></span>
      {% else %}
      <span aria-hidden="true" class="hds-icon hds-icon--company hds-icon--size-l"></span>
      {% endif %}
        <h1 class="hero__title">
          {{ title }}
        </h1>
      </div>
    {% endblock %}
  {% endembed %}
</div>
