<div class="container">
  <div class="hds-notification hds-notification--info">
    <div class="hds-notification__content">
      <div class="hds-notification__label" role="heading" aria-level="2">
        <span class="hel-icon hel-icon--alert-circle-fill" aria-hidden="true"></span>
        <span>{{ "Remember to keep your information up to date"|t }}</span>
      </div>
      <div class="hds-notification__body">
        {{ "Please make sure that all your information in grants is correct and up-to-date. You can edit your information on the My data tab."|t }}
      </div>
    </div>
  </div>
</div>
