/** Override HDS to match helfi */

/* .hds-button--primary {
    --background-color: var(--color-black);
    --background-color-hover: var(--color-black);
    --background-color-focus: var(--color-black);
    --background-color-hover-focus: var(--color-black);
    --background-color-disabled: var(--color-black-20);
    --border-color: var(--color-black);
    --border-color-hover: var(--color-black);
    --border-color-focus: var(--color-black);
    --border-color-hover-focus: var(--color-black);
    --border-color-disabled: var(--color-black-20);
    --color: var(--color-white);
    --color-hover: var(--color-white);
    --color-focus: var(--color-white);
    --color-hover-focus: var(--color-white);
    --color-disabled: var(--color-white);
    --focus-outline-color: var(--color-coat-of-arms);
    --submit-input-focus-gutter-color: var(--color-white);
} */

.hds-button--secondary:not(.eu-cookie-compliance-default-button):not(.eu-cookie-compliance-save-preferences-button) {
  --background-color: transparent;
  --background-color-hover: var(--color-black-80);
  --background-color-focus: transparent;
  --background-color-hover-focus: var(--color-black-80);
  --background-color-disabled: transparent;
  --color: var(--color-black);
  --color-hover: var(--color-white);
  --color-focus: var(--color-black);
  --color-hover-focus: var(--color-black);
  --color-disabled: var(--color-black-40);
}
.hds-button--secondary:not(:disabled):not(.eu-cookie-compliance-default-button):not(.eu-cookie-compliance-save-preferences-button), .hds-button--primary:not(:disabled) {
  border-color: var(--color-black, transparent);
}
.hds-button.hds-button--supplementary {
  .hds-button__label {
    margin: 0;
    padding: 0px var(--spacing-2-xs);
  }
  &:after, &:before {
    display:none !important;
  }
}
.hds-button--supplementary:not(:disabled) {
  --background-color-hover: rgba(0,0,0,0.1);
  border-color: transparent;
  background: transparent;
  &:hover {
    background-color: var(--background-color-hover);
  }
}
.webform-button--delete-draft {
  margin-bottom: var(--spacing-s);
}
.openid-connect-login-form input[type=submit].hds-button {
  width: 220px;
}
