#block-servicepageauthblock,
#block-servicepageanonblock {
  h2 {
    @include font('h4');
  }

  .hds-button {
    margin-top: var(--spacing-m);
  }
}

.grants-service-page-block {
  background-color: var(--color-alert-light);
  margin-top: var(--spacing-m);
  padding: var(--spacing-m);

  h3 {
    font-size: var(--fontsize-heading-s);
    margin-top: 0;
  }

  .hel-icon {
    vertical-align: text-bottom;
  }

  &--auth {
    background-color: var(--color-info-light);
  }
}

.hel-icon--swap-user {
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <g fill="none" fill-rule="evenodd"> <rect width="24" height="24"/> <path fill="currentColor"  d="M6,5 C6.55228,5 7,4.55228 7,4 C7,3.44772 6.55228,3 6,3 C5.44772,3 5,3.44772 5,4 C5,4.55228 5.44772,5 6,5 Z M6,7 C7.65685,7 9,5.65685 9,4 C9,2.34315 7.65685,1 6,1 C4.34315,1 3,2.34315 3,4 C3,5.65685 4.34315,7 6,7 Z M18,14 C18.5523,14 19,13.5523 19,13 C19,12.4477 18.5523,12 18,12 C17.4477,12 17,12.4477 17,13 C17,13.5523 17.4477,14 18,14 Z M18,16 C19.6569,16 21,14.6569 21,13 C21,11.3431 19.6569,10 18,10 C16.3431,10 15,11.3431 15,13 C15,14.6569 16.3431,16 18,16 Z M4,10 C3.44772,10 3,10.4477 3,11 L3,12 L9,12 L9,11 C9,10.4477 8.55228,10 8,10 L4,10 Z M1,11 C1,9.34315 2.34315,8 4,8 L8,8 C9.65685,8 11,9.34315 11,11 L11,14 L1,14 L1,11 Z M16,19 C15.4477,19 15,19.4477 15,20 L15,21 L21,21 L21,20 C21,19.4477 20.5523,19 20,19 L16,19 Z M13,20 C13,18.3431 14.3431,17 16,17 L20,17 C21.6569,17 23,18.3431 23,20 L23,23 L13,23 L13,20 Z M16,3 L12.9998,3 L12.9998,1 L16,1 C17.6569,1 19,2.34315 19,4 L19,5.08578 L20.2929,3.79289 L21.7071,5.20711 L18,8.91421 L14.2929,5.20711 L15.7071,3.79289 L17,5.08579 L17,4 C17,3.44772 16.5523,3 16,3 Z M6,15.0858 L9.70711,18.7929 L8.29289,20.2071 L6.99999,18.9142 L6.99999,20 C6.99999,20.5523 7.44771,21 7.99999,21 L11,21 L11,23 L7.99999,23 C6.34313,23 4.99999,21.6569 4.99999,20 L4.99999,18.9142 L3.70711,20.2071 L2.29289,18.7929 L6,15.0858 Z"/></g></svg>');
  -webkit-mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"> <g fill="none" fill-rule="evenodd"> <rect width="24" height="24"/> <path fill="currentColor"  d="M6,5 C6.55228,5 7,4.55228 7,4 C7,3.44772 6.55228,3 6,3 C5.44772,3 5,3.44772 5,4 C5,4.55228 5.44772,5 6,5 Z M6,7 C7.65685,7 9,5.65685 9,4 C9,2.34315 7.65685,1 6,1 C4.34315,1 3,2.34315 3,4 C3,5.65685 4.34315,7 6,7 Z M18,14 C18.5523,14 19,13.5523 19,13 C19,12.4477 18.5523,12 18,12 C17.4477,12 17,12.4477 17,13 C17,13.5523 17.4477,14 18,14 Z M18,16 C19.6569,16 21,14.6569 21,13 C21,11.3431 19.6569,10 18,10 C16.3431,10 15,11.3431 15,13 C15,14.6569 16.3431,16 18,16 Z M4,10 C3.44772,10 3,10.4477 3,11 L3,12 L9,12 L9,11 C9,10.4477 8.55228,10 8,10 L4,10 Z M1,11 C1,9.34315 2.34315,8 4,8 L8,8 C9.65685,8 11,9.34315 11,11 L11,14 L1,14 L1,11 Z M16,19 C15.4477,19 15,19.4477 15,20 L15,21 L21,21 L21,20 C21,19.4477 20.5523,19 20,19 L16,19 Z M13,20 C13,18.3431 14.3431,17 16,17 L20,17 C21.6569,17 23,18.3431 23,20 L23,23 L13,23 L13,20 Z M16,3 L12.9998,3 L12.9998,1 L16,1 C17.6569,1 19,2.34315 19,4 L19,5.08578 L20.2929,3.79289 L21.7071,5.20711 L18,8.91421 L14.2929,5.20711 L15.7071,3.79289 L17,5.08579 L17,4 C17,3.44772 16.5523,3 16,3 Z M6,15.0858 L9.70711,18.7929 L8.29289,20.2071 L6.99999,18.9142 L6.99999,20 C6.99999,20.5523 7.44771,21 7.99999,21 L11,21 L11,23 L7.99999,23 C6.34313,23 4.99999,21.6569 4.99999,20 L4.99999,18.9142 L3.70711,20.2071 L2.29289,18.7929 L6,15.0858 Z"/></g></svg>');
}
