
.webform-print-header,
.webform-print-footer {
  display: none;
}

.webform-submission--view-mode-html,
.webform-submission-data-preview-page,
.webform-print-page-html {
  .print-notification {
    border: 2px var(--color-black) solid;
    font-weight: bold;
    padding: var(--spacing-layout-s);
    margin-top: var(--spacing-2-xl);

    .hel-icon {
      margin-right: var(--spacing-2-xs);
      height: 22px;
      width: 22px;
    }
  }
  .webform-print-page-wizard-page ~ .webform-print-page-wizard-page {
    h2 {
      page-break-before: always;
    }
  }
  div.hds-text-input__input {
    height: var(--spacing-2-xl);
    width: 100%;
    background: white;
    border: 2px var(--color-black) solid;
  }
  div.hds-text-input__textarea {
    height: var(--spacing-layout-2-xl);
    width: 100%;
    background: white;
    border: 2px var(--color-black) solid;
  }
  .webform-print-page-body {
    h2 {
      margin-bottom: var(--spacing-layout-s);
    }
  }

  .webform-print-wrapper-table {
    display: table;
    width: 100%;
    max-width: 100%;
    border: 0px transparent solid;
    overflow-x: initial;

    thead,
    tbody,
    tfoot,
    tr,
    tbody tr:hover,
    td,
    td:first-child,
    th {
      color: black;
      background: transparent;
      border: 0;
    }

    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin-top: 6mm;
      }
    }

    thead {
      display: table-header-group;
      th {
        padding: 0;
      }
    }

    tfoot {
      display: table-footer-group;
    }
  }
  .webform-submission-data > section {
    padding-top: var(--spacing-layout-l)ruple;
    border-top: 1px var(--color-black-20) solid;
    > .webform-section-flex-wrapper {
      display: block;
      > h2 {
        width: 100% !important;
        min-width: 100%;
        margin: 0mm 0 2mm !important;
        padding: 0 !important;
        font-size: var(--fontsize-heading-l) !important;
        font-weight: 500;
      }
      > .webform-section-wrapper {
        padding: 6mm 0;
        label {
          font-weight: 500;
        }
      }
    }
  }

  @media print {
    @page {
      size: A4;
      margin: 0;
    }
    h1 {
      margin-bottom: 0;
    }
    details {
      page-break-before: always;
    }
    label {
      margin-bottom: 0;
      font-size: 10pt;
    }
    section {
      padding-top: 0 !important;
      border-top: 0px var(--color-black-20) solid !important;
      page-break-inside: avoid;
    }

    div.main-content {
      margin: 0;
    }

    button,
    footer.footer,
    header.header,
    nav.breadcrumb,
    .form-actions,
    .hds-notification,
    .messages__container,
    .tools__container,
    .webform-progress,
    .webform-progress-tracker,
    .webform-progress-tracker-mobile,
    .webform-multiple-add,
    .webform-multiple-table--operations {
      display: none !important;
    }
    .gin--horizontal-toolbar .dialog-off-canvas-main-canvas {
      padding: 0 !important;
    }

    .hds-text-input {
      max-width: 100%;
      .hds-text-input__input {
        height: 1cm;
      }
      textarea.hds-text-input__input, div.hds-text-input__textarea {
        height: 6cm;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
      }
    }
    .hds-text-input .hds-text-input__input[readonly],
    .hds-text-input .hds-text-input__input {
      border: 2px black solid;
    }

    .webform {
      &-element {
        position: relative;
        border: 1px black solid;
        padding: 2.5mm;
        margin-bottom: 8mm;
      }
      &-preview {

        label {
          position: absolute;
          top: -6mm;
          left: 0mm;
          font-size: 10pt;
        }
        .webform-element {
          position: relative;
          top: 5mm;
          margin-bottom: 8mm;
          padding: 2.5mm;
          border: 1px black solid;
        }
        .webform-multiple-table--operations {
          display: none;
        }
        .webform-print {
          &-wrapper-table {
            margin: 0;
            border: 0;
            overflow-x: initial;
          }

          &-header,
          &-header-space {
            height: 21mm;
            background: white;
            font-size: 9pt;
          }
          &-footer,
          &-footer-space {
            height: 17mm;
            background: white;
            font-size: 9pt;
          }

          &-header {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            z-index: 1000;
            background: white;
            border-bottom: 1px var(--color-black-40) solid;
            svg {
              display: block;
              height: 25mm;
              width: 55mm;
              margin-right: 3mm;
              color: black;
            }
            .webform-print-header-left-text {
              width: 100%;
              color: var(--color-black-40);
              text-align: left;
            }
            .webform-print-header-right-text {
              width: 100%;
              color: var(--color-black-40);
              text-align: right;
            }
          }
          &-footer {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            z-index: 1000;
            background: white;
            border-top: 1px var(--color-black-40) solid;

            svg {
              display: block;
              height: 15mm;
              width: 33mm;
              margin-right: 3mm;
              color: black;
            }
            .webform-print-footer-left-text {
              width: 100%;
              color: var(--color-black-40);
              text-align: left;
            }
            .webform-print-footer-right-text {
              width: 100%;
              color: var(--color-black-40);
              text-align: right;
            }
          }
        }
      }
      &-print {

        &-header,
        &-header-space {
          height: 21mm;
          background: white;
          font-size: 9pt;
        }
        &-header {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          position: fixed;
          left: 0;
          top: 0;
          width: 100%;
          min-width: 100%;
          max-width: 100%;
          z-index: 1000;
          background: white;
          border-bottom: 1px var(--color-black-40) solid;
          svg {
            display: block;
            height: 25mm;
            width: 55mm;
            margin-right: 3mm;
            color: black;
          }
          .webform-print-header-left-text {
            width: 100%;
            text-align: left;
            color: var(--color-black-40);
          }
          .webform-print-header-right-text {
            width: 100%;
            text-align: right;
            color: var(--color-black-40);
          }
        }

        &-footer,
        &-footer-space {
          height: 17mm;
          background: white;
          font-size: 9pt;
        }
        &-footer {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          position: fixed;
          bottom: 0;
          left: 0;
          width: 100%;
          background: white;
          min-width: 100%;
          max-width: 100%;
          z-index: 1000;
          border-top: 1px var(--color-black-40) solid;

          svg {
            display: block;
            height: 15mm;
            width: 33mm;
            margin-right: 3mm;
            color: black;
          }
          .webform-print-footer-left-text {
            width: 100%;
            text-align: left;
            color: var(--color-black-40);
          }
          .webform-print-footer-right-text {
            width: 100%;
            text-align: right;
            color: var(--color-black-40);
          }
        }

        &-wrapper-table {
          margin: 0;
          border: 0;
          overflow-x: initial;
        }

      }
      &-section-flex-wrapper {
        flex-flow: row wrap;
        > h3.webform-section-title {
          width: 100%;
          max-width: 100%;
        }
      }
      &-print-page-body h2 {
        margin-bottom: 1cm;
      }
    }

  }
}
