$breakpoint-xs: 320px;
$breakpoint-s: 576px;
$breakpoint-m: 768px;
$breakpoint-l: 992px;
$breakpoint-xl: 1248px;

.grants-profile {
  hr {
    margin: var(--spacing-layout-xs) 0;
    border: 1px solid var(--color-silver);
  }
  h3.info-grants {
    border-bottom: 2px solid var(--color-silver);
    padding-bottom: var(--spacing-l);
  }
  &--title {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .grants-profile--initials {
      display: none;
      margin-right: var(--spacing-m);
      border-radius: 50%;
      width: var(--spacing-4-xl);
      height: var(--spacing-4-xl);
      line-height: var(--spacing-4-xl);
      font-size: var(--fontsize-body-xl);
      font-weight: bold;
      text-align: center;
      vertical-align: middle;
      &:hover, &:active, &:focus {
        text-decoration: underline;
      }
      &-colorscheme {
        &-2 {
          background-color: var(--color-bus);
          color: var(--color-white);
        }
        &-1 {
          background-color: var(--color-engel);
          color: var(--color-black);

        }
        &-0 {
          background-color: var(--color-tram);
          color: var(--color-white);
        }
      }
      @include breakpoint($breakpoint-l) {
        display: block;
      }
    }
    h1 {
      flex-grow: 100;
    }
  }
  &--basicinfo {
    background-color: var(--color-silver-light);
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-2-xs);
    border-left: 8px solid var(--color-copper);

    h3 {
      font-size: var(--fontsize-heading-l);
      padding-top: 0;
      margin-top: 0;
    }
  }
  &--extrainfo {
    padding-top: var(--spacing-l);

  }
    &--infotext {
    font-size: var(--fontsize-body-l);
    margin-bottom: var(--spacing-s);
  }
  &--wrapper {
    display: grid;
    grid-gap: var(--spacing-layout-xs);

    @include breakpoint($breakpoint-s) {
      grid-template-columns: 250px 250px;
    }
  }

  dd {
    margin-inline-start: 0;
  }

  &--officials {
    padding-left: 0;
    margin-left: 0;

    &-item {
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      max-width: 588px;
      width: 100%;
      justify-content: space-between;
      border-left: 4px var(--color-copper) solid;
      padding-left: var(--spacing-layout-xs);
      margin-left: 0;
      margin-bottom: var(--spacing-layout-s);
      &-wrapper {

      }
      &--position {
        margin-top: 0;
        padding-top: 0;
        margin-bottom: var(--spacing-layout-2-xs);
        font-size: var(--fontsize-heading-xs);
        font-weight: bold;
      }
    }

  }
  &--officials-edit-wrapper {
    text-align:right;
    a {
      display: inline-block;
    }
  }

  .hel-icon--check-circle-fill {
    color: var(--color-success);
    vertical-align: middle;
  }

  &-grants-profile {
    .tabledrag-toggle-weight-wrapper, .field-multiple-drag  {
      display: none;
    }
  }
}
.hds-link .hel-icon {
  vertical-align: bottom;
  margin-right: var(--spacing-2-xs);
}
.hds-link span.link-label {
  margin-right: var(--spacing-m);
  font-weight: bold;
}
.grants-profile {
  .hds-text-input__label {
    display: inline-block;
    margin-top: 0;
  }
}
div.grants-handler--prefilled-field, .grants-profile-prh-info {
  min-width: 100%;
  .field-prefix {
    display: block;
    position: absolute;
    top: 0;
    right: var(--spacing-layout-s);
  }
  .description {
    white-space: normal;
    display: inline-block;
  }
  .hel-icon--check-circle-fill {
    color: var(--color-success);
    vertical-align: middle;
  }
  .webform-element-description {
    color: var(--color-black);
    font-size: var(--fontsize-body-l);
    line-height: var(--spacing-m);
    position: relative;
  }
  .hds-text-input__label {
    margin-bottom: 0;
  }
}
.grants-profile--imported-section .webform-section-flex-wrapper {
  display:block;
  width: 100%;
  h2.webform-section-title {
    width: 100%;
    padding-bottom: var(--spacing-layout-xs);
    margin-bottom: var(--spacing-layout-xs);
    max-width: 100%;
    border-bottom: 1px var(--color-silver) solid;
  }
  .webform-section-wrapper {
    padding: 0;
  }
  .hds-text-input {
    margin-bottom: 0;
  }
  #edit-grants-profile-items-container {
    border-top: 1px var(--color-silver) solid;
    border-bottom: 1px var(--color-silver) solid;
    margin-top: var(--spacing-layout-xs);
    padding-top: var(--spacing-layout-xs);
    padding-bottom: var(--spacing-layout-xs);
    margin-bottom: var(--spacing-layout-xs);
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    > div {
      min-width: 160px;
      margin: 0 var(--spacing-layout-xs) 0 0;
    }
    .hds-text-input__input-wrapper {
      display: none;
    }
    label {
      margin: 0;
      font-size: var(--fontsize-body-m);
      font-weight: bold;
    }

  }
}
.grants-profile__local-tasks__wrapper {
  margin-bottom: 0;
}

.openid-connect-login-form {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
