.page--oma-asiointi .main-content {
  margin-top: 0;

  h2 {
    margin-top: var(--spacing-m);
  }
}

.hero--oma-asiointi {
  margin-bottom: var(--spacing-l);

  .container {
    padding-top: var(--spacing-layout-m);
  }

  .hero__text-content {
    display: flex;
    align-items: center;
  }

  .hero__title {
    margin-left: 0;

    @media (min-width: $breakpoint-s) {
      margin-left: 40px;
    }
  }

  .hds-icon {
    display: none;

    @media (min-width: $breakpoint-s) {
      display: block;
    }
  }
}

#oma-asiointi__sent {
  background: var(--color-silver-light);
  .application-list__item {
    background: var(--color-white);
  }
}
.oma-asiointi-block {
  background-color: var(--color-silver-light);
  padding-top: var(--spacing-l);
  padding-bottom: var(--spacing-l);

  h2 {
    margin-top: 0;
    margin-bottom: var(--spacing-s);
  }

  .header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--color-silver-dark);
    padding-bottom: var(--spacing-xs);

    .user,
    .link {
      font-weight: 700;
    }

    .link .hel-icon {
      vertical-align: text-top;
    }
  }

  &--link {
    text-decoration: none;
    display: block;
    position: relative;

    &::after {
      --icon-size: 1.5rem;

      @include pseudo-icon('arrow-right');
      @include hover-link-arrow-transition;
      content: '';
      display: block;
      flex-shrink: 0;
      margin-left: -$spacing-quarter;
      margin-top: var(--spacing-2-xs);
      position: absolute;
      bottom: var(--spacing-m);
      right: var(--spacing-m);

      @include breakpoint($breakpoint-s) {
        --icon-size: 3rem;
        margin-left: -$spacing-half;
        margin-top: var(--spacing-s);
      }
    }

    &:focus,
    &:hover {
      &::after {
        transform: translateX(var(--spacing-2-xs));

        @media (prefers-reduced-motion) {
          transform: none;
        }
      }
    }
  }

  .new-message {
    background-color: var(--color-alert);
    font-weight: 500;
    display: inline-block;
    padding: var(--spacing-2-xs);
    text-transform: uppercase;
  }

  .new-messages-length {
    background-color: var(--color-black-20);
    display: inline-block;
    font-size: var(--fontsize-heading-s);
    position: relative;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
    margin-left: var(--spacing-m);

    &.has-new-messages {
      background-color: var(--color-alert);
    }
  }

  .content {
    @media (min-width: $breakpoint-m) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: var(--spacing-s);
    }
  }

  .submission,
  .message {
    background-color: var(--color-white);
    padding: var(--spacing-m);
    margin-top: var(--spacing-s);
    margin-bottom: var(--spacing-s);

    .submission-title,
    .message-title {
      font-size: var(--fontsize-heading-s);
      margin-bottom: var(--spacing-2-xs);
      margin-top: 0;
      font-weight: 500;
      text-decoration: underline;
    }

    .message-title {
      margin-top: var(--spacing-s);
    }

    &:hover {
      .submission-title,
      .message-title {
        text-decoration: none;
      }
    }
  }

  .message {
    padding-right: var(--spacing-5-xl);
  }
}
.oma-asiointi {
  margin-top: var(--spacing-l);
  ul {
    padding: 0;
  }
  &__list {
    padding-top: var(--spacing-l);
    padding-bottom: var(--spacing-l);
    h2 {
      margin-bottom: var(--spacing-m);
      margin-top: 0;
    }
  }
  #oma-asiointi__sent {
    padding-top: var(--spacing-s);
  }
}
